{{/*
    Usage: 
    {{ partial "components/image.html" (dict "context" . "image" .image) }}

    Data:
    image:
        src: /illustrations/illustration-03.png
        alt: Illustrasjon av sittende figur med telefon i hånden
*/}}

{{ $image := resources.GetMatch .image.src }}
{{ $image_large := $image.Resize "500x q100" }}
{{ $image_medium := $image.Resize "300x q100" }}
<img class="img-fluid" alt="{{.image.alt}}" sizes="50vw" width="{{ $image_large.Width }}" height="{{ $image_large.Height }}"
srcSet="{{$image_medium.RelPermalink}} 600w, {{$image_large.RelPermalink}} 800w "/>