<meta charset="utf-8">
<meta name="robots" content="index,follow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<meta name="description" content="{{ .Params.description }}" />
<meta name="keywords" content="{{ with .Site.Params.global_keywords }}{{ delimit . ", "}}{{ end }}, {{ with .Params.keywords }}{{ delimit . ", "}}{{ end }}" />
<meta http-equiv="content-language" content="{{ .Site.Language }}">

<meta property="og:title" content="{{ .Title }}" />
<meta name="og:description" content="{{ .Params.description }}" />
<meta property="og:type" content="website" /> 
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="{{ .Site.Language }}">