.btn, .button {
    padding: 12px 30px;
    text-decoration: none;
    color: black;

    min-height: 3rem;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    transition: 0.1s all;
    border: 1px solid black;
    font-weight: 400;

    &:hover {
        cursor: pointer;
        color: inherit;
        background-color: $color-brand-third-100;
    }

    &--primary {
        background-color: $primary-color;
        color: white !important;

        &:hover {
            background-color: $primary-color;
        }
    }

    &--next {
        &::after {
            @include font-awsome('\f061');
            font-size: $font-size-200;
            margin-top:2px;
            margin-left:12px;
        } 
    }

    &--previous {
        &::before {
            @include font-awsome('\f060');
            font-size: $font-size-200;
            margin-top:2px;
            margin-right:12px;
        } 
    }
}