.line {
    width: 40px;
    height: 4px;
    margin: 20px auto 38px auto;
    border-radius: 100px;
    background-color: $color-brand-third-400;

    &--second {
        background-color: $color-brand-second-600!important;
    }
}