.markdown {

    &> :first-child {
        margin-top: 0 !important;
    }

    ul,
    .alert {
        margin-bottom: $spacing-4;
    }

    img {
        max-width: 100%;
        margin: $spacing-4 0;
    }

    img+.caption {
        margin-top: -$spacing-3;
        margin-bottom: $spacing-4;
        color: #4a5562 !important;
    }

    .code {
        margin: $spacing-5 0;
        padding: 12px 20px;
        border: 1px solid gray;
        word-wrap: break-word;
        box-decoration-break: clone;
        border-radius: .2rem;
        
        code {
            color:#7f1e4e!important;
        }
    }

    blockquote {
        padding: 2rem;
        margin: $spacing-4 0;
        background-color: #e9f5ff;

        p {
            margin: unset;
        }

        ul:last-child {
            margin-bottom: unset;

            li:last-child {
                margin-bottom: unset;
            }
        }
    }
}