<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="footer__heading">
                    {{$.Site.Data.Footer.col1.title}}
                </h2>
                <div class="footer__content">
                    <ul class="footer__links">
                        {{ range $.Site.Data.Footer.col1.links }}
                        <li>
                            <a href="{{.url}}">
                                {{.title}}
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <h2 class="footer__heading">
                    Kontakt
                </h2>
                <div class="footer__content">
                    <ul class="footer__links">
                        <li>Digitaliseringsdirektoratet</li>
                        <li>Org.nr. 991 825 827</li>
                    </ul>
                    <ul class="footer__links">
                        <li>
                            <a href="https://www.digdir.no/digdir/kontakt-oss/943">
                                Kontakt oss
                            </a>
                        </li>
                        <li>Telefon: 22 45 10 00</li>
                    </ul>
                    <div class="footer__icons mb-4">
                        <a class="fa-facebook-f fab icon footer-icon--facebook" aria-label="facebook link"
                            href="https://www.facebook.com/Digitaliseringsdirektoratet/"></a>
                        <a class="fa-twitter fab icon footer-icon--twitter" aria-label="twitter link"
                            href="https://twitter.com/digdir_no"></a>
                        <a class="fa-linkedin fab icon footer-icon--linkedin" aria-label="linkedin link"
                            href="https://www.linkedin.com/company/digitaliseringsdirektoratet"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h2 class="footer__heading">
                    {{$.Site.Data.Footer.col3.title}}
                </h2>
                <div class="footer__content">
                    <ul class="footer__links">
                        {{ range sort .Site.Menus.main.ByWeight }}
                        <li>
                            <a href="{{ .URL }}">
                                {{ .Name }}
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>