<footer class="footer component">
    {{/* partial "components/figures" . */}}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="footer__heading">
                    Digitaliseringsdirektoratet
                </h2>
                <div class="footer__content">
                    <ul class="footer__links">
                        {{ $data := index .Site.Data .Site.Language.Lang }}
                        {{ range $data.footer.digdir }}
                        <li class="">
                            {{ if .url }}
                            <a href="{{ .url }}">
                                {{ .title }}
                            </a>
                            {{ else}}
                            <label>{{.title}}</label>
                            {{ end }}
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <h2 class="footer__heading">
                    {{ i18n "contact" }}
                </h2>
                <div class="footer__content">
                    <div class="footer__icons mb-4">
                        <ul class="footer__links">
                            {{ $data := index .Site.Data .Site.Language.Lang }}
                            {{ range $data.footer.contact }}
                            <li>
                                {{ if .url }}
                                <a href="{{ .url }}">
                                    {{ .title }}
                                </a>
                                {{ else}}
                                <label>{{.title}}</label>
                                {{ end }}
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h2 class="footer__heading">
                    {{ i18n "about-the-website" }}
                </h2>
                <div class="footer__content">
                    <ul class="footer__links">
                        {{ $data := index .Site.Data .Site.Language.Lang }}
                        {{ range $data.footer.about }}
                        <li>
                            {{ if .url }}
                            <a href="{{ .url }}">
                                {{ .title }}
                            </a>
                            {{ else}}
                            <label>{{.title}}</label>
                            {{ end }}
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
