.alert {

    margin-bottom: 50px;
    &-warning {
        background-color: $color-interface-warning-light!important;
        border:1px solid $color-interface-warning;
    }

    &-info {
        background-color: $color-interface-interaction-light;
        border: 1px solid $color-interface-interaction;
    }
}