.component {
    position: relative;

    &:nth-child(odd) {
        background-color: white;
    }

    padding-top: $spacing-6;
    padding-bottom: $spacing-6;

    &--extra-spacing {
        padding-top: $spacing-8*2.7;
        padding-bottom: $spacing-8*2.7;
    }

    &--bg-primary {
        padding-top: $spacing-8;
        padding-bottom: $spacing-8;
        background-color: $color-brand-third-200!important;
    }

    &--bg-second {
        padding-top: $spacing-8;
        padding-bottom: $spacing-8;
        background-color: $color-brand-second-200 !important;
    }

    &--no-bg {
        background-color: unset !important;
    }

    &__figure--big {
        .figures {
            height:450px!important;
        }
    }

    &__figure-1 {
        .figures {
            left: -100px !important;
            right: auto !important;

            path {
                fill: #1e98f5;
            }
        }
    }

    &__figure-2 {
        .figures {
            left: -100px !important;
            right: auto !important;

            path {
                fill: #e5aa20!important;
            }
        }
    }

    &__figure-3 {
        .figures {
            left: -100px !important;
            right: auto !important;

            path {
                fill: #f45f63!important;
            }
        }
    }

    &__figure--left {
        .figures {
            left: -100px !important;
            right: auto !important;
        }
    }

    &__figure--right {
        .figures {
            left: auto !important;
            right: -100px !important;
        }
    }
}