.component {

    &:nth-child(odd){
        background-color: white;
    }

    padding-top: $spacing-8;
    padding-bottom: $spacing-8;

    &--extra-spacing {
        padding-top: $spacing-8*2.7;
        padding-bottom: $spacing-8*2.7;  
    }

    &--bg-primary {
        background-color: #a5d6fb!important;
    }

    &--bg-second {
        background-color: #f5dda6!important;
    }

    &--no-bg {
        background-color: unset!important;
    }
}