.component {

    &:nth-child(odd){
        background-color: white;
    }

    padding-top: $spacing-8;
    padding-bottom: $spacing-8;

    &--primary {
        padding-top: $spacing-8*2.7;
        padding-bottom: $spacing-8*2.7;  
    }

    &--no-bg {
        background-color: unset!important;
    }
}