.navigation__links {
    margin: unset;
    margin-bottom: 50px;
    padding:unset;
    list-style: none;
    
    li {

        label {
            &::before {
                @include font-awsome('\f061');
                font-size: $font-size-300;
            }
        }
    }

}