.navigation-card {
    height: 100%;

    &:not(:last-of-type) {
        padding-top: 50px;
    }
    
    border:1px solid #bcbfc5;
    border-radius: 8px;

    &:hover {
        border-color: transparent;
    }

    &__content {
        height: 100%;
        border-radius: 8px;
        border: 2px solid transparent;
        color: $color-neutral-grey-800;
        background-color: $color-brand-third-100;
        padding: 40px 40px 72px 40px;

        @include tablet(){
            padding: 20px 20px 72px 20px;  
        }

        flex-wrap: nowrap;
        flex-direction: column;
        text-decoration: none;
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;

        &:hover {
            border-width: 2px;
            border-color: $color-neutral-grey-800;
            color: $color-neutral-grey-800;
            background-color: $color-brand-third-200;
        }

        &::after {
            @include font-awsome('\f061');
            font-size: $font-size-600;
            position: absolute;
            bottom: 32px;
        }

        &--secondary {
            background-color: $color-brand-second-200 !important;

            &:hover {
                background-color:  $color-brand-second-300!important;
            }
        }

        &--neutral {
            background-color: white !important;

            &:hover {
                background-color: $color-brand-third-200!important;
            }

            &-secondary {
                &:hover {
                    background-color: $color-brand-second-200!important;
                }
            }
        }

        &--small {
            &::after {
                font-size: $font-size-500;
            }
        }
    }

    &__img-container {
        img {
            width: auto;
            max-width: 100%;
            margin-bottom: 20px;
        }

        &--small {
            img {
            }
        }
    }

    &__title {
        font-size: $font-size-600;
        font-weight: $font-weight-medium;
        line-height: 1.4;
        margin-bottom: 1rem;
        margin-top: 8px;

        &--small {
            font-size: $font-size-500;
        }
    }

    &__desc {
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-size: $font-size-400;
        font-weight: 400;
        line-height: 1.5;

        &--small {
            font-size: $font-size-300;
        }
    }
}