.vertical-nav {

    li{
        list-style: none;
    }

    padding-left:20px;

    .nav-link {
        color: $color-neutral-grey-800;
        font-size: $font-size-400;

        &::before {
            @include font-awsome('\f054');
            font-size: $font-size-200;
            position:absolute;
            margin-left:-20px;
            margin-top:2px;
        }

        &:hover {
            color: #0252be!important;
            text-decoration: underline;
        }
    }

    .active {
        color: #0252be!important;
        font-weight: 500;

        &::marker {
            color: #0252be!important;
            font-weight: 500;
        }
    }
}