@import url('https://fonts.googleapis.com/css?family=Inter:500,400,300');

html {
    font-size: 100%;
}

body {
    background: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.75;
}