{{ define "main" }}

<div class="component component--bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="mb-0">{{.Title}}</h1>
                {{ with .Params.ingress }}
                    <p class="ingress mb-0" style="margin-top:1.5rem;">{{.}}</p>
                {{ end }}

            </div>
        </div>
    </div>
</div>
<div class="component">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="markdown">
                {{.Content}}
            </div>
            </div>
        </div>
    </div>
</div>

{{ end }}