.header {
    padding: 24px 0;
    border-bottom: 1px solid $color-neutral-grey-300;

    font-size: $font-size-500 !important;
    font-weight: 400;
    letter-spacing: 0.02px;

    &__logo {
        margin-top: -11px;
        height: 30px;
        width:120px;
        margin-left: -1px;
        image-rendering: auto;
        /* Firefox */
        image-rendering: auto;
        /* Opera */
        image-rendering: auto;
        /* Webkit (non-standard naming) */
        image-rendering: auto;
        -ms-interpolation-mode: auto;
        /* IE (non-standard property) */

        object-fit: cover;
    }

    .navbar {

        a {
            display: inherit;
        }

        .navbar-nav {
            @include tablet(){
                margin-top:20px;
            }
        }
        .nav-item {
            margin-bottom: unset;

            @include tablet(){
                margin-top:20px;
                position: relative;

                &::before {
                    @include font-awsome('\f061');
                    font-size: $font-size-200;
                    position:absolute;
                    margin-top:4px;
                }
            }

            .nav-link {
                font-size: $font-size-400;
                color: $color-neutral-grey-800;
                padding:0px 18px;

                @include tablet(){
                    padding:0px 28px;
                }

                &:hover {
                    color: #0252be;
                }
            }

            .active {
                color: #0252be;
            }
        }
    }
}